<div class="show-flash">
  <%= flash[:notice] %>
</div>

<table class="show-table">
<tr>
    <th class=show-title>Title:</th>
    <td><%= @book.title %></td>
</tr>

<tr>
    <th class=show-body>Body:</th>
    <td><%= @book.body %></td>
</tr>
</table>

<div class="show_links">
<%= link_to "Edit", edit_book_path(@book.id), class:"edit_from_show" %>
<a href= "https://c994ff6d1bf3415bbf91c541720a28f4.vfs.cloud9.ap-northeast-1.amazonaws.com/index" class="back_from_show">Back</a>
</div>