<% flash[notice] %>

<table class="show-table">
<tr>
    <th class=show-title>Title:</th>
    <td><%= @book.title %></td>
</tr>

<tr>
    <th class=show-body>Body:</th>
    <td><%= @book.body %></td>
</tr>
</table>

<div class="show-link">
<%= link_to "Edit", edit_book_path(@book.id) %>
<a href= "https://c994ff6d1bf3415bbf91c541720a28f4.vfs.cloud9.ap-northeast-1.amazonaws.com/books">Back</a>
</div>